/*rtl*/
body{font-family: 'Cairo', sans-serif;}
.slider-button{margin-right: 10px  ;}
/************** Our works ****************/
.ftco-section{padding: 1em 0;}
.flaticon-blueprint{font-size: 70px;}
.fa-shopping-basket,.fa-store-alt, .flaticon-blueprint, .fa-phone-alt, .fa-envelope, .fa-map-marker-alt,
.fa-facebook{color: #96bb7c;}
/************** End Our works ****************/
/************************** begin Contact us ****************/
.message{display: block;margin: 5px auto;}
/************************** End  Contact us ****************/
/* General Edit*/
#particles-js{background: #040f30;}
.slide-box{position: absolute;width: 100%;text-align: right;}
.slider-text h1:after{right: 0;}
/*rtl*/
/* general Edit styles*/
.navbar-brand img{width: 100px;}
.btn.btn-primary{color: #fff !important;background: transparent !important;border:1px solid #2789dd !important;}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px !important;
    font-weight: 500;
}
.slider-text h1:after, .testimony-section .owl-dots .owl-dot.active,
.heading-section .subheading:after,.heading-section .subheading:before, form .submit, #scrollTop {background: #2789dd !important;}
.heading-section .subheading,.portfolio-wrap .text .desc .custom-btn,.fa-shopping-basket, .fa-store-alt, .flaticon-blueprint,
.fa-phone-alt, .fa-envelope, .fa-map-marker-alt, .fa-facebook, .fa-facebook-f, .fa-twitter, .fa-instagram, .fa-mobile-alt,
.fa-rocket, .fa-tablet-alt, .fa-tasks, .fa-database, .fa-palette,
.search-icon , .fa-users, .fa-gem,.fa-copyright, .ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover,
.ftco-navbar-light.scrolled .nav-link.active, .ftco-navbar-light .navbar-nav > .nav-item.active > a,
.fa-chevron-left, .fa-chevron-right, .box-tob .footer-liks li a
{color: #2789dd !important;}
.ftco-navbar-light.scrolled .nav-link{padding-top: 3px !important; padding-bottom: 3px !important;}
/* begin navbar */
/*End navbar */
.owl-carousel .owl-dots .owl-dot:after{border: none;}
form .submit{color: #fff !important; border: 1px solid #2789dd ;font-size: 16px;padding: 8px 50px !important;}
.heading-section .subheading, .portfolio-wrap .text .desc .custom-btn{letter-spacing: 0;}
form .submit .fa-arrow-left{ display: inline-block;margin-right: 5px;}
/*button scroll top*/
#scrollTop {
    display: inline-block;width: 50px;
    height: 50px;text-align: center;border-radius:50%;position: fixed;
    bottom: 30px;right: 30px;transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;visibility: hidden;z-index: 1000;
}
#scrollTop .fa-chevron-up{color: #FFF;margin-top: 7px;}
#scrollTop:hover {cursor: pointer;background-color: #333;}
#scrollTop:active {background-color: #555;}
#scrollTop.show {opacity: 1;visibility: visible;}
/* Styles for the content section */
@media (min-width: 500px) {
    #scrollTop {margin: 30px;}
}
@media (max-width: 750px) {
    body {overflow-x: hidden;}
    .our-supports .item img{width: 100% !important;}
}
/*button scroll top*/
/* begin Our work section */
.projects-box{margin: 20px;}
.scale-box{transition: all ease-in-out .2s;}
.scale-box:hover{transform: scale(1.1);}
/* End Our work section */
/* socail */
.box-info .socail-icon-box  .fa-mobile-alt{font-size: 22px;}
/* socail */
/* contact us*/
.box-info .socail-icon-box{height: 100%;width: 100%;}
.box-info .socail-icon-box .fa-envelope,.box-info .socail-icon-box .fa-facebook-f{font-size: 21px;}
.box-info{display: block;margin-bottom: 60px;}
.box-info .box p{font-size: 15px;margin: 0;}
.box-info .phone{direction: ltr;}
#contact{margin-bottom: 60px;}
.contact form.p-5{padding: 3px !important;}
/* Begin error messages*/
.error, .more-than{display: none;}
/* End error messages*/
.contact .text-box{margin-right: 15px;}
.ftco-footer .ftco-footer-widget h2{text-align: center;}
#particles-js .slider-text h1 ,#particles-js  .slider-text p{color: #ddeeff !important;}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link{color: #d8e9fa;}
.ftco-footer-social li a{padding: 8px;text-align: center;}
/* End contact us*/
/* Begin Read more style */
.our-work-information{
    border: 1px solid #c9e6ff;
    padding: 10px;
    margin: 7px 7px 20px 7px;
    min-height: 365px;
    position: relative;
    transition: all ease-in-out .2s;
    overflow: hidden;
}
.our-work-information:hover{transform: scale(1.1);}
.our-work-information .text-box{display: none;margin-bottom: 60px;}
.read-more{display: block;}
.information-box .text-center{position: absolute;bottom: 10px;left: 40%;}
.our-work-information .catch{max-height: 100px;}
/* End Read more style */
.our-work .fa-rocket,.our-work .fa-store-alt, .our-work  .fa-database, .our-work .fa-tasks, .our-work .fa-tablet-alt, .our-work-information .fa-shopping-basket,
.our-work-information .fa-copyright, .our-work-information .fa-gem, .our-work-information .fa-users, .our-work-information .fa-search-location
{transition: all ease-in-out .3s;}
.our-work .fa-rocket:hover, .our-work .fa-store-alt:hover, .our-work  .fa-database:hover,
.our-work .fa-tasks:hover, .our-work .fa-tablet-alt:hover,
.our-work-information .fa-shopping-basket:hover, .our-work-information .fa-gem:hover,
.our-work-information .fa-copyright:hover, .our-work-information .fa-users:hover,
.our-work-information .fa-search-location:hover {transform: scale(1.3);}
/* Begin our support*/
.our-supports{padding-bottom: 50px;}
.our-supports .item img {width: 200px;}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot
{opacity: 1 !important;}
 .owl-nav .owl-prev{left: -25px !important;}
.owl-nav .owl-next {right: -25px !important;}
.owl-carousel .owl-nav{top: 55% !important;}
    /* End our support*/
/* begin footer style*/
footer{background: #121930 !important;color: #d3c6c6 !important;padding-bottom: 15px;overflow: hidden;}
.last-footer{background: #282b3a !important;}
footer h5{color: #d3c6c6;font-size: 15px;}
footer .box-tob{margin-top: 20px;}
footer .box-tob ul{list-style-type: none;}
.footer-logo{height: 40px;margin-bottom: 20px;}
footer .box-tob .footer-liks li{margin-bottom: 15px;}
.box-tob .footer-liks li a{padding: 20px;}
.footer-contact{margin-bottom: 25px;display: block;}
.footer-contact p{color: #d3c6c6 !important;}
.box-tob .fa-facebook,.box-tob .fa-twitter, .fa-instagram, .fa-facebook-f{margin: 10px;font-size: 35px;}
.social-content{background: #DDD;}
.social-content .social-right{display: inline-block;float: right;width: 50%;text-align: left;padding: 10px;}
.social-content .social-left{display: inline-block;float: left;width: 50%;text-align: right;padding: 10px;}
/* End  footer style*/
/* begin on load */
/*startup*/
.on-load{
    height: 100%;width:100%;background-color: #272727;color: #DDD;
    z-index: 999999;top: 0;bottom: 0;right: 0;left: 0;position: fixed;}
.spinner {margin: 250px auto 0; width: 70px; text-align: center;}
.spinner > div {
    width: 18px;height: 18px;background-color: #1E8BC3;border-radius: 100%;display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1 {-webkit-animation-delay: -0.32s;animation-delay: -0.32s;}
.spinner .bounce2 {-webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0) } 40% { -webkit-transform: scale(1.0) } }
@keyframes sk-bouncedelay { 0%, 80%, 100% {-webkit-transform: scale(0);transform: scale(0);}
    40% {-webkit-transform: scale(1.0);transform: scale(1.0);}
}
.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{-ms-touch-action: auto;touch-action: auto;}
.see-more{background: #2789dd; border-color:  #2789dd; position: absolute;
    bottom: 10px;
    right: 40%;
    }
.see-more:hover{border-color: #105fa3;;background: #105fa3;}
.text-conetent-see-more{
   width: 300px;
   height: 50px;
   overflow: hidden;
}
/* End on load */

/* general Edit styles */
