body{
    font-family: 'Cairo', sans-serif;
}
/* begin navbar */
.ftco-navbar-light .navbar-nav > .nav-item.active > a{
    padding-top: 8px !important;
     padding-bottom: 8px !important
}

/*End navbar */
/* slider */
.slider-button{
    margin-right: 10px  ;
}
/* End slider */

/************** Our works ****************/
.ftco-section{
    padding: 1em 0;
}
.flaticon-blueprint{
    font-size: 70px;
}
.projects-box{
    margin: 40px;
}
.fa-shopping-basket,.fa-store, .flaticon-blueprint, .fa-phone-alt, .fa-envelope, .fa-map-marker-alt, .fa-facebook{
    color: #96bb7c;
}
/************** End Our works ****************/


/************************** begin Contact us ****************/
.message{
    width: 45%;
    display: block;
    margin: 5px auto
}
/************************** End  Contact us ****************/

/* General Edit*/
#particles-js{
    background: #040f30;
}
.slide-box{
    position: absolute;
    width: 100%;
    text-align: right;
}
.slider-text h1:after{
    right: 0;
}


